In [1]:
import pandas as pd
import numpy as np

In [2]:
df_review = pd.read_csv("C:\\Users\\himanshu\\Desktop\\Big data and data sc\\review.csv",delimiter=",")

In [3]:
df_user = pd.read_csv("C:\\Users\\himanshu\\Desktop\\Big data and data sc\\user.csv",delimiter=",")

In [14]:
df_bs_lv= pd.read_csv("C:\\Users\\himanshu\\Desktop\\Big data and data sc\\business_lv.csv")

In [15]:
df_bs_lv.head()

,categories,type,longitude,latitude,hours,postal_code,is_open,review_count,stars,neighborhood,name,attributes,address,business_id,city,state
0,"['Caterers', 'Grocery', 'Food', 'Event Plannin...",b'business',-115.159272,36.192284,"['Monday 0:0-0:0', 'Tuesday 0:0-0:0', 'Wednesd...",89106.0,1,9,5.0,NaN,Cut and Taste,"['BusinessAcceptsBitcoin: False', 'BusinessAcc...",495 S Grand Central Pkwy,LTlCaCGZE14GuaUXUGbamg,Las Vegas,NV
1,"['Shoe Stores', 'Fashion', 'Shopping']",b'business',-115.196324,36.172259,NaN,89107.0,1,4,1.5,Westside,Sheik Shoes,"['BusinessAcceptsCreditCards: True', 'Restaura...",4300 Meadows Ln,AGN788ObhwXu7rb8MEejIA,Las Vegas,NV
2,"['Local Services', 'Notaries', 'Professional S...",b'business',-115.241325,36.180841,"['Monday 9:0-17:0', 'Tuesday 9:0-17:0', 'Wedne...",89107.0,1,14,4.0,NaN,Mail Link,['BusinessAcceptsCreditCards: True'],848 N Rainbow Blvd,XK5w8XnbP8CdeoB44kn1bg,Las Vegas,NV
3,"['Persian/Iranian', 'Restaurants', 'Ethnic Foo...",b'business',-115.244312,36.101021,NaN,89103.0,0,15,2.5,Spring Valley,Kabob Palace,"['Alcohol: full_bar', 'BusinessAcceptsCreditCa...",4811 S Rainbow Blvd,saWZO6hB4B8P-mIzS1--Xw,Las Vegas,NV
4,"['Hair Salons', 'Hair Stylists', 'Beauty & Spas']",b'business',-115.306365,36.113712,"['Thursday 9:0-20:0', 'Friday 9:0-20:0', 'Satu...",89117.0,1,7,5.0,Spring Valley,Shear Happiness by Brittany,"['BusinessAcceptsCreditCards: True', 'ByAppoin...",9931 W Charleston Blvd,U8_JrQdIpuTKw60vjc1-cw,Las Vegas,NV

In [19]:
df_review['business_id'] = df_review['business_id'].str[2:-1]

In [7]:
sudo pip install -U nltk

SyntaxError: invalid syntax (<ipython-input-7-80b877ddde4b>, line 1)

ImportError: No module named 'nltk'

In [3]:
import re
pattern = re.compile(r'\b(' + r'|'.join(stopwords.words('english')) + r')\b\s*')
text = pattern.sub('', text)

NameError: name 'stopwords' is not defined

In [5]:
 pd.Series(' '.join(df_review_sample['text']).lower().split()).value_counts()[:100]

the           2308134
and           1622060
a             1222580
to            1147405
i             1119105
was            821750
of             703380
is             577077
for            554219
in             520573
it             500905
my             420456
that           389652
with           384552
but            354180
they           353171
we             332530
you            331344
this           328495
on             321810
have           295727
not            272032
had            260589
were           243465
at             239579
are            237894
so             233316
be             198769
as             193321
very           177012
               ...
by              83748
because         83561
more            83037
also            81262
got             80009
-               79072
even            78639
other           78554
has             72786
us              69581
do              68500
after           67538
than            67222
always          65316
them            65080
little          63021
nice            61662
best            60706
ordered         60120
came            59769
never           59091
did             58869
love            58727
could           58666
come            56069
don't           55169
definitely      54833
much            54738
first           54212
went            54078
dtype: int64

In [46]:
df_review.text[5]

"b'What a great place! Modern on Melrose has amazing furniture at great prices. I highly recommend and will be back when I am looking for new pieces.'"

In [22]:
business_lv_review =df_bs_lv.merge(df_review, on= 'business_id')

In [23]:
len(business_lv_review)

1297353

In [26]:
list(business_lv_review)

['categories',
 'type_x',
 'longitude',
 'latitude',
 'hours',
 'postal_code',
 'is_open',
 'review_count',
 'stars_x',
 'neighborhood',
 'name',
 'attributes',
 'address',
 'business_id',
 'city',
 'state',
 'funny',
 'date',
 'text',
 'type_y',
 'user_id',
 'cool',
 'review_id',
 'useful',
 'stars_y']

In [31]:
len(business_lv_review.stars_x != business_lv_review.stars_y)

1297353

In [ ]:
business_lv_review[]

In [33]:
len(business_lv_review[business_lv_review['stars_x']==5])

69749

In [ ]:
business_lv_review['business_id'][]

In [6]:
list(df_review)

['business_id',
 'funny',
 'date',
 'text',
 'type',
 'user_id',
 'cool',
 'review_id',
 'useful',
 'stars']

In [4]:
df_user.head()

,funny,compliment_funny,compliment_hot,compliment_plain,useful,average_stars,compliment_note,compliment_cool,fans,cool,...,compliment_photos,review_count,compliment_writer,user_id,yelping_since,elite,compliment_more,name,type,compliment_profile
0,12316,4192,3904,2617,18456,3.59,4705,4192,298,17579,...,1347,761,1147,b'EZmocAborM6z66rTzeZxzQ',b'2009-09-12',"['2017', '2015', '2016', '2014', '2011', '2013...",305,b'Rob',b'user',207
1,28,144,64,129,117,4.29,97,144,34,104,...,24,80,17,b'myql3o3x22_ygECb8gVo7A',b'2009-06-27',['None'],4,b'Vivian',b'user',5
2,6,36,14,23,58,4.15,21,36,48,5,...,4,841,28,b'FIk4lQQu1eTe2EpzQ4xhBA',b'2010-08-26',"['2011', '2016', '2017', '2013', '2014', '2015...",10,b'Carol',b'user',3
3,51,54,32,29,42,3.82,13,54,28,42,...,1,376,17,b'ojovtd9c8GIeDiB8e0mq2w',b'2008-05-31',"['2014', '2010', '2017', '2015', '2011', '2016...",5,b'Miss Maggie',b'user',4
4,3,0,0,0,8,2.97,0,0,2,3,...,0,28,0,b'uVEoZmmL9yK0NMgadLL0CQ',b'2013-01-17',['None'],0,b'Jeremy',b'user',0

In [5]:
list(df)

['funny',
 'compliment_funny',
 'compliment_hot',
 'compliment_plain',
 'useful',
 'average_stars',
 'compliment_note',
 'compliment_cool',
 'fans',
 'cool',
 'compliment_cute',
 'friends',
 'compliment_list',
 'compliment_photos',
 'review_count',
 'compliment_writer',
 'user_id',
 'yelping_since',
 'elite',
 'compliment_more',
 'name',
 'type',
 'compliment_profile']

In [6]:
df.describe()

,funny,compliment_funny,compliment_hot,compliment_plain,useful,average_stars,compliment_note,compliment_cool,fans,cool,compliment_cute,compliment_list,compliment_photos,review_count,compliment_writer,compliment_more,compliment_profile
count,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06,1.029432e+06
mean,1.593755e+01,4.080010e+00,3.020610e+00,4.108504e+00,3.125272e+01,3.709147e+00,1.949721e+00,4.080010e+00,1.551274e+00,2.109610e+01,2.879491e-01,1.268933e-01,1.252850e+00,2.431933e+01,1.556256e+00,4.424605e-01,2.961342e-01
std,4.794538e+02,9.296891e+01,8.130603e+01,9.883542e+01,6.982756e+02,1.097177e+00,5.751102e+01,9.296891e+01,1.369205e+01,6.612527e+02,1.559356e+01,1.334420e+01,1.044507e+02,8.206605e+01,3.593788e+01,1.605931e+01,1.919459e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.130000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.880000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,4.550000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00
max,1.708960e+05,2.850000e+04,2.332400e+04,3.539900e+04,1.865430e+05,5.000000e+00,4.512900e+04,2.850000e+04,4.691000e+03,1.951600e+05,1.335200e+04,1.238300e+04,7.965200e+04,1.128400e+04,1.470300e+04,1.303500e+04,1.361600e+04

In [15]:
df.set_index('user_id', inplace=True)

In [16]:
df.head()

,funny,compliment_funny,compliment_hot,compliment_plain,useful,average_stars,compliment_note,compliment_cool,fans,cool,...,compliment_list,compliment_photos,review_count,compliment_writer,yelping_since,elite,compliment_more,name,type,compliment_profile
user_id,,,,,,,,,,,,,,,,,,,,,
b'EZmocAborM6z66rTzeZxzQ',12316,4192,3904,2617,18456,3.59,4705,4192,298,17579,...,19,1347,761,1147,b'2009-09-12',"['2017', '2015', '2016', '2014', '2011', '2013...",305,b'Rob',b'user',207
b'myql3o3x22_ygECb8gVo7A',28,144,64,129,117,4.29,97,144,34,104,...,1,24,80,17,b'2009-06-27',['None'],4,b'Vivian',b'user',5
b'FIk4lQQu1eTe2EpzQ4xhBA',6,36,14,23,58,4.15,21,36,48,5,...,2,4,841,28,b'2010-08-26',"['2011', '2016', '2017', '2013', '2014', '2015...",10,b'Carol',b'user',3
b'ojovtd9c8GIeDiB8e0mq2w',51,54,32,29,42,3.82,13,54,28,42,...,0,1,376,17,b'2008-05-31',"['2014', '2010', '2017', '2015', '2011', '2016...",5,b'Miss Maggie',b'user',4
b'uVEoZmmL9yK0NMgadLL0CQ',3,0,0,0,8,2.97,0,0,2,3,...,0,0,28,0,b'2013-01-17',['None'],0,b'Jeremy',b'user',0

In [8]:
len(df)

1029432

In [18]:
df_new = df.take(np.random.permutation(len(df))[:100000])

In [19]:
df_new.head()

,funny,compliment_funny,compliment_hot,compliment_plain,useful,average_stars,compliment_note,compliment_cool,fans,cool,...,compliment_list,compliment_photos,review_count,compliment_writer,yelping_since,elite,compliment_more,name,type,compliment_profile
user_id,,,,,,,,,,,,,,,,,,,,,
b'BhQD9hQVEZmpcXUXBTsvJg',0,0,0,0,0,2.33,0,0,0,0,...,0,0,2,0,b'2014-04-20',['None'],0,b'Taryn',b'user',0
b'JqOderIT169u3Jr_dVeWQg',0,0,0,0,0,5.00,0,0,0,0,...,0,0,1,0,b'2013-03-06',['None'],0,b'Joshua',b'user',0
b'tki4947v-CeXW-hv571MpA',0,0,0,0,0,4.00,0,0,0,0,...,0,0,2,0,b'2015-06-07',['None'],0,b'Jamilyn',b'user',0
b'odPzSMtT5cSgHYnIuoKZLQ',0,0,0,0,0,2.00,0,0,0,0,...,0,0,7,0,b'2011-01-03',['None'],0,b'Kem',b'user',0
b'43q0XE0q-5omm_0htifhhg',0,0,0,0,0,1.00,0,0,0,0,...,0,0,2,0,b'2016-06-29',['None'],0,b'Karely',b'user',0